<!-- Section which appear at the top of videos provide
different section of suggestion -->

<div class="top_right">
    <div class="all upper_buttons">All</div>

    <!-- Iterate through items in suggestion -->
    @for (item of recommended; track $index) {
        <div class="upper_buttons">{{item}}</div>
    }
    
    <div class="sign"><svg xmlns="http://www.w3.org/2000/svg" height="12" viewBox="0 0 24 24" width="31" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><path d="m9.4 18.4-.7-.7 5.6-5.6-5.7-5.7.7-.7 6.4 6.4-6.3 6.3z"></path></svg></div>
</div>